==
<!DOCTYPE html>
<html class="csstransforms csstransforms3d csstransitions" data-ng-app="app">
    <head>
        <meta charset="utf-8">
        <title>idxos - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="Christopher J. Roberts - Web Developer Portfolio and Sandbox.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}" />
        {% styles %}
        <link href="{{ [
            'assets/less/theme.less',
            'assets/css/revolution_settings.css',
            'assets/css/eislider.css',
            'assets/css/octoshop.css',
            'assets/bower_components/bootstrap/dist/css/bootstrap.css',
            'assets/bower_components/ngToast/dist/ngToast.css',
            'assets/app/content/css/app.css'
            ]|theme }}" rel="stylesheet">
        {% placeholder head %}
    </head>
<body>
 
    <header id="layout-header">
        {% partial "header" %}
    </header>

        {% set jumbotronTexture = random(['carbon', 'dustnscratches', 'elegant', 'grunge', 'leather', 'lines', 'plaid', 'wood']) %}
        
        <section id="layout-content">
            <div class="jumbotron" style="background-image:url({{ ('assets/images/textures/'~jumbotronTexture~'.png')|theme }})">
                <div class="container">
                    <h1>{{ this.page.title }}</h1>
                    <p>{{ this.page.description }}</p>
                </div>
            </div>
            <div class="container">

            <div class="row">
                <toast></toast>
            </div>

                {% page %}

            </div>
        </section>



<div data-ng-include="'themes/rainlab-vanilla/assets/app/layout/demo.html'"></div>

        <footer id="layout-footer">
            {% partial "footer" %}
        </footer>
        
        
        <script src="{{ [
            'assets/bower_components/jquery/dist/jquery.js',
            'assets/bower_components/angular/angular.js',
            'assets/bower_components/firebase/firebase.js',
            'assets/bower_components/firebase-util/dist/firebase-util.js',
            'assets/bower_components/angularfire/dist/angularfire.js',
            'assets/bower_components/angularfire-resource/dist/angularfire-resource.js',
            'assets/bower_components/bootstrap/dist/js/bootstrap.js',
            'assets/bower_components/angular-loader/angular-loader.min.js',
            'assets/bower_components/angular-animate/angular-animate.js',
            'assets/bower_components/angular-cookies/angular-cookies.js',
            'assets/bower_components/angular-resource/angular-resource.js',
            'assets/bower_components/angular-route/angular-route.js',
            'assets/bower_components/angular-sanitize/angular-sanitize.js',
            'assets/bower_components/angular-touch/angular-touch.js',
            'assets/bower_components/angular-messages/angular-messages.js',
            'assets/bower_components/ngToast/dist/ngToast.js',
            'assets/bower_components/masonry/masonry.js',
            'assets/bower_components/angular-masonry/angular-masonry.js',

            'assets/app/app.module.js',
            'assets/app/core/core.module.js',
            'assets/app/core/core.constant.js',
            'assets/app/config/demo.config.route.js',
            'assets/app/cookie/cookie.module.js',
            'assets/app/cookie/cookie.controller.js',
            'assets/app/demo/demo.module.js',
            'assets/app/demo/demo.controller.js',
            'assets/app/demo/demo.module.form.js',
            'assets/app/demo/demo.form.js',
            'assets/app/timer/timer.module.js',
            'assets/app/toast/toast.module.js',
            'assets/app/toast/toast.controller.js',
            'assets/app/demo/demo.masonry.js'

        ]|theme }}"></script>
        {% framework extras %}
        {% scripts %}
    </body>
</html>