==
<!DOCTYPE html>
<html>
    <head>
        {% partial "meta" %}
        {% styles %}
        <link href="{{ [
            'assets/less/theme.less',
            'assets/css/revolution_settings.css',
            'assets/css/eislider.css',
            'assets/css/site.css'
            ]|theme }}" rel="stylesheet">
        {% placeholder head %}
        
        {% framework extras %}
        {% scripts %}
            
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        
        <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-validation/dist/angular-validation.js"></script>
        
        <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/0.9.2/angularfire.min.js"></script>
        
        <script src="app.js"></script>
        <script src="controllers/registration.js"></script>
        <script src="controllers/meetings.js"></script>
        
        <script src="components/version/version.js"></script>
        <script src="components/version/version-directive.js"></script>
        <script src="components/version/interpolate-filter.js"></script>
        
        <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
        
        <script src="bower_components/angular-bootstrap/angular-masonry.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>


        
    </head>
  <body>
        
    <!-- Header -->
    <header id="layout-header">
        {% partial "header" %}
    </header>
    
    <!-- Start Main Content -->
    {% set jumbotronTexture = random(['carbon', 'dustnscratches', 'elegant', 'grunge', 'leather', 'lines', 'plaid', 'wood']) %}
    <section id="layout-content">
        <div class="jumbotron" style="background-image:url({{ ('assets/images/body_backgrounds/'~jumbotronTexture~'.jpg')|theme }})">
            <div class="container">
                <h1>{{ this.page.title }}</h1>
                <p>{{ this.page.description }}</p>
            </div>
        </div>
        <div class="workbench-table">
            <div class="container">
                
               
                
            </div><!--/.container-->
        </div><!--/.workbench-table -->
    </section>
    <!--/.Content-->
    
    
    
     
     
    
    <footer id="layout-footer">
        {% partial "footer" %}
    </footer>
    {% placeholder foot %}
  </body>
</html>