description = "Developer Layout, barebones setup."

[session]
security = "all"
==
<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        {% partial "meta" %}
        {% styles %}
        <link href="{{ [
            'assets/less/theme.less',
            'assets/css/site.css'
            ]|theme }}" rel="stylesheet">
        {% placeholder head %}
    </head>
  <body>
        
    <!-- Header -->
    <header id="layout-header">
        {% partial "header" %}
    </header>
    
    <!-- Start Main Content -->
    {% set jumbotronTexture = random(['carbon', 'dustnscratches', 'elegant', 'grunge', 'leather', 'lines', 'plaid', 'wood']) %}
    <section id="layout-content">
        <div class="jumbotron" style="background-image:url({{ ('assets/images/textures/'~jumbotronTexture~'.png')|theme }})">
            <div class="container">
                <h1>{{ this.page.title }}</h1>
                <p>{{ this.page.description }}</p>
            </div>
        </div>
        <div class="workbench-table">
            <div class="container">
                
                {% page %}
                
            </div>
        </div>
    </section>
    <!--/.Content-->

    <footer id="layout-footer">
        {% partial "footer" %}
    </footer>
   
    <script src="{{ [
        'assets/js/jquery-1.11.1.js',
        'assets/vendor/bootstrap/js/transition.js',
        'assets/vendor/bootstrap/js/alert.js',
        'assets/vendor/bootstrap/js/button.js',
        'assets/vendor/bootstrap/js/carousel.js',
        'assets/vendor/bootstrap/js/collapse.js',
        'assets/vendor/bootstrap/js/dropdown.js',
        'assets/vendor/bootstrap/js/modal.js',
        'assets/vendor/bootstrap/js/tooltip.js',
        'assets/vendor/bootstrap/js/popover.js',
        'assets/vendor/bootstrap/js/scrollspy.js',
        'assets/vendor/bootstrap/js/tab.js',
        'assets/vendor/bootstrap/js/affix.js',
        'assets/javascript/app.js'
         ]|theme }}"></script>
    {% framework extras %}
    {% scripts %}
    
    {% placeholder foot %}
  </body>
</html>