

<script src="{{ [
    'assets/javascript/blue/jquery.parallax.js',
    'assets/javascript/blue/modernizr-2.6.2.min.js',
    'assets/javascript/blue/jquery.themepunch.revolution.min.js',
    'assets/javascript/blue/jquery.nivo.slider.pack.js',
    'assets/javascript/blue/jquery.prettyPhoto.js',
    'assets/javascript/blue/superfish.js',
    'assets/javascript/blue/tweetMachine.js',
    'assets/javascript/blue/tytabs.js',
    'assets/javascript/blue/jquery.sticky.js',
    'assets/javascript/blue/jflickrfeed.js',
    'assets/javascript/blue/imagesloaded.pkgd.min.js',
    'assets/javascript/blue/waypoints.min.js',
    'assets/javascript/blue/jquery.gmap.min.js',
    'assets/javascript/blue/custom.js',
    'assets/javascript/blue/lightbox-2.6.min.js',
    'assets/javascript/blue/circularnav.js',
    'assets/javascript/app.js',
    ]|theme }}"
</script>