description = "Flat UI styled custom icons."
==
<div class="content-wrapper hide-until-loading"><div class="body-wrapper">
    <div class="container">
        <h1>Flat Icons</h1>
        <div class="row">
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat lock"></i>lock</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat robot"></i>robot</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat diamond"></i>diamond</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat brush"></i>brush</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat imac"></i>imac</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat gift"></i>gift</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat thunder"></i>thunder</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat award"></i>award</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat coffe-cup"></i>coffe-cup</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat rocket"></i>rocket</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat microphone"></i>microphone</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat disk"></i>disk</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat bag"></i>bag</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat stats"></i>stats</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat calendar"></i>calendar</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat person"></i>person</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat ufo"></i>ufo</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat film"></i>film</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat home"></i>home</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat chat"></i>chat</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat paper-plane"></i>paper-plane</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat clock"></i>clock</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat mobile"></i>mobile</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat pencil"></i>pencil</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat skull"></i>skull</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat dislike"></i>dislike</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat heart"></i>heart</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat slider"></i>slider</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat folder"></i>folder</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat search"></i>search</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat open-mail"></i>open-mail</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat flag"></i>flag</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat crown"></i>crown</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat finder"></i>finder</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat pictures"></i>pictures</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat camera"></i>camera</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat map-mark"></i>map-mark</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat storm"></i>storm</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat document"></i>document</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat dribble"></i>dribble</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat garbage"></i>garbage</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat settings"></i>settings</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat like"></i>like</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat tag"></i>tag</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat mega-phone"></i>mega-phone</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat note"></i>note</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat help"></i>help</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat open-mail2"></i>open-mail2</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat camera2"></i>camera2</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat graph"></i>graph</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat money"></i>money</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat wallet"></i>wallet</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat bag2"></i>bag2</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat arrow"></i>arrow</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat compass"></i>compass</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat console"></i>console</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat heart2"></i>heart2</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat responsive"></i>responsive</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat stats2"></i>stats2</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat portfolio"></i>portfolio</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat ui"></i>ui</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat upload"></i>upload</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat tablet"></i>tablet</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat mobile2"></i>mobile2</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat help2"></i>help2</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat check"></i>check</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat search2"></i>search2</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat drop"></i>drop</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat microphone2"></i>microphone2</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat office-phone"></i>office-phone</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat culture"></i>culture</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat person2"></i>person2</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat stats3"></i>stats3</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat map-marker2"></i>map-marker2</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat flag2"></i>flag2</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat soccer"></i>soccer</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat weather"></i>weather</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat folder2"></i>folder2</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat eye-open"></i>eye-open</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat upload2"></i>upload2</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat shop"></i>shop</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat note-pad"></i>note-pad</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat print"></i>print</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat card"></i>card</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat disk2"></i>disk2</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat truk"></i>truk</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat film2"></i>film2</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat ribbon"></i>ribbon</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat pencil2"></i>pencil2</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat download"></i>download</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat garbage2"></i>garbage2</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat settings2"></i>settings2</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat tv"></i>tv</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat disk-small"></i>disk-small</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat lock-small"></i>lock-small</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat document2"></i>document2</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat mail"></i>mail</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat chat"></i>chat</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat clock2"></i>clock2</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat calendar2"></i>calendar2</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat letter"></i>letter</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat ticket"></i>ticket</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat safe"></i>safe</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat news"></i>news</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat map-marker3"></i>map-marker3</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat book"></i>book</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat play"></i>play</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat plastic-bag"></i>plastic-bag</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat pictures2"></i>pictures2</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat calc"></i>calc</div>
            </div>
                        <div class="col-md-3 col-sm-3">
                <div class="single-icon"> <i class="icon-flat count"></i>count</div>
            </div>
                    </div>
    </div>
</div>
</div><!--.content-wrapper end -->