<!-- Main Navbar -->
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <section class="wrapper-xs bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-10">
                    <i class="fa fa-question-circle"></i> Have any question? Email us at <i class="fa fa-envelope"></i> <a href="http://graphikaria.com/demo/interstate/theme/index.html#link"><span class="text-light">info@interstatelovesong.com</span></a>
                </div><!-- /.col -->
                <div class="col-sm-12 col-md-2">
                    <ul class="list-inline no-margin-bottom">
                        <li><a href="http://graphikaria.com/demo/interstate/theme/index.html#"><i class="text-light fa fa-lg fa-fw fa-twitter"></i></a></li>
                        <li><a href="http://graphikaria.com/demo/interstate/theme/index.html#"><i class="text-light fa fa-lg fa-fw fa-facebook"></i></a></li>
                        <li><a href="http://graphikaria.com/demo/interstate/theme/index.html#"><i class="text-light fa fa-lg fa-fw fa-google-plus"></i></a></li>
                        <li><a href="http://graphikaria.com/demo/interstate/theme/index.html#"><i class="text-light fa fa-lg fa-fw fa-pinterest"></i></a></li>
                    </ul>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.wrapper -->
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">
                <img src="{{ 'assets/images/krisp-agency-logo-white-121x50.png'|theme }}" alt="Website Logo">
            </a>
        </div>
        <!-- Navbar -->
        <div class="collapse navbar-collapse navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="index.html">Home</a>
                </li>
                <li class="dropdown">
                    <a href="http://graphikaria.com/demo/interstate/theme/index.html#link" class="dropdown-toggle" data-toggle="dropdown">Real Estate <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://graphikaria.com/demo/interstate/theme/search_results.html">Search Results</a></li>
                        <li><a href="http://graphikaria.com/demo/interstate/theme/item_page.html">Item Page</a></li>
                        <li><a href="http://graphikaria.com/demo/interstate/theme/services.html">Services</a></li>
                        <li><a href="http://graphikaria.com/demo/interstate/theme/gallery.html">Gallery</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="http://graphikaria.com/demo/interstate/theme/index.html#link" class="dropdown-toggle" data-toggle="dropdown">Agents <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://graphikaria.com/demo/interstate/theme/team.html">All Agents</a></li>
                        <li><a href="http://graphikaria.com/demo/interstate/theme/team_member.html">Agent Profile</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="http://graphikaria.com/demo/interstate/theme/index.html#link" class="dropdown-toggle" data-toggle="dropdown">Corporate <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://graphikaria.com/demo/interstate/theme/about.html">About</a></li>
                        <li><a href="http://graphikaria.com/demo/interstate/theme/contact.html">Contact 1</a></li>
                        <li><a href="http://graphikaria.com/demo/interstate/theme/contact_2.html">Contact 2</a></li>
                        <li><a href="http://graphikaria.com/demo/interstate/theme/login.html">Login/Signup</a></li>
                    </ul>
                </li>
            </ul><!-- /.navbar-nav -->
        </div><!-- /.collapse -->
    </div><!-- /.container -->
</nav><!-- /.navbar -->
