==
<div class="row">
   <section class="col-xs-12">
		<nav class="codrops-demos">
			<a class="{% if this.page.id == 'sandbox' %}current-demo{% endif %}" href="{{ 'sandbox'|page }}">Demo 1</a>
			<a class="{% if this.page.id == 'sandbox-sandbox2' %}current-demo{% endif %}" href="{{ 'sandbox/sandbox2'|page }}">Demo 2</a>
			<a class="{% if this.page.id == 'sandbox-sandbox3' %}current-demo{% endif %}" href="{{ 'sandbox/sandbox3'|page }}">Demo 3</a>
			<a class="{% if this.page.id == 'sandbox-sandbox4' %}current-demo{% endif %}" href="{{ 'sandbox/sandbox4'|page }}">Demo 4</a>
			<a class="{% if this.page.id == 'sandbox-sandbox5' %}current-demo{% endif %}" href="{{ 'sandbox/sandbox5'|page }}">Demo 5</a>
			<a class="{% if this.page.id == 'sandbox-sandbox6' %}current-demo{% endif %}" href="{{ 'sandbox/sandbox6'|page }}">Demo 6</a>
		</nav>
   </section>
</div>