==
<style>

/****************************
Contact
****************************/
/* Contact Map */
.contact-map {
  height: 400px;
}

.contact-map2 {
  height: 255px;
}

.contact-map3 {
  height: 400px;
}

.form-wrapper {
  padding: 0px 0 0 0;
}

.form-wrapper label {
  float: left;
  width: 120px;
}

.inputStyle {
  background-color: #fff;
  border: 0;
  outline: 0;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #e4e4e4;
}

.inputStyle:focus {
  border-color: #ccc;
}

.form-wrapper .row-fluid {
  margin: 20px 0;
}

.form-wrapper .input_error {
  color: #d14836;
  display: inline-block;
  margin: 7px 0 0 0;
}

.form-wrapper .form-control {
  position: relative;
}

.form-wrapper label {
  line-height: 30px;
}

.sidebar-icon-item {
  padding: 0 0 15px 0;
  clear: both;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #666666;
}

.sidebar-icon-item:last-child {
  padding: 0;
}

.sidebar-icon-item i {
  font-size: 18px;
  padding: 0 10px 0 0;
  float: left;
  margin: 2px 0 0 0;
}

.contact-body {
  margin: 0 2.4% 0 0;
  width: 71.0% !important;
}

.contact-paragraph {
  margin: 0 0 40px 0;
}

.error_container {
  position: relative;
  display: none;
}

.error-box {
  min-width: 150px;
  background-color: #ff7582;
  border-radius: 5px;
  float: right;
  position: absolute;
  left: 0%;
  top: 0;
  padding: 6px 25px 6px 6px;
  font-size: 12px;
  text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.3);
  color: #902e38;
  white-space: nowrap;
  z-index: 0;
}

.error-box i {
  float: right;
  margin: 4px 0 0 0;
  position: absolute;
  right: 6px;
  top: 6px;
  cursor: pointer;
  display: block;
}


.contactus-form1 .contactus-form1-row {
  width: 100%;
  padding: 10px 0;
}

.contactus-form1 {
  float: none  !important;
  margin: auto !important;
}

.form-wrapper input[type=text], .form-wrapper input[type=email], .form-wrapper input[type=submit], .form-wrapper input[type=button],
.form-wrapper textarea {
  outline: 0;
}

.form-wrapper input[type=text],
.form-wrapper input[type=email],
.form-wrapper textarea {
  width: 100%;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #F7F7F7;
  border: 1px solid #EEE;
}

.form-wrapper input[type=text]:focus,
.form-wrapper input[type=email]:focus,
.form-wrapper textarea:focus {
  border-color: #ccc;
  box-shadow: none;
  -webkit-transition: border-color 0.5s linear;
  -moz-transition: border-color 0.5s linear;
  -o-transition: border-color 0.5s linear;
  transition: border-color 0.5s linear;
}

.form-wrapper input[type=text],
.form-wrapper input[type=email],
.form-wrapper textarea {
  padding: 10px 15px;
}

.form-wrapper textarea {
  min-height: 200px;
}

.contactus-form1 .contactus-form1-row input[type=submit] {
  width: 100%;
  padding: 14px 0 !important;
  line-height: 23px;
  height: auto;
  font-size: 17px;
  margin: auto;
}

.contactus-form1 .contactus-form1-row input[type=text],
.contactus-form1 .contactus-form1-row input[type=email],
.contactus-form1 .contactus-form1-row textarea {
  padding: 20px 15px;
}
.content-style3 {
  background-color: #fff;
  position: relative;
  padding: 45px 30px 20px 20px;
  color: #6c6c6c;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: visible !important;
  margin-top: 30px;
}
.content-style3:hover .content-style3-icon {
  color: #fff;
  background: #279fbb;
}

.content-style3 .content-style3-icon {
  position: absolute;
  right: 50%;
  top: -30px;
  margin-right: -30px;
  background-color: #fff;
  width: 60px;
  height: 60px;
  font-size: 32px;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.28);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.28);
  color: #279fbb;
  -webkit-transition: background 0.8s, color 0.2s;
  -moz-transition: background 0.8s, color 0.2s;
  -o-transition: background 0.8s, color 0.2s;
  transition: background 0.8s, color 0.2s;
}

.content-style3 .content-style3-title {
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}

.content-style3 .content-style3-text {
  text-align: center;
}

/****************************
Content Box
****************************/
.content-box .content-box-text {
  padding-left: 50px;
}

.content-box h4 {
  margin: 0 0 20px 0;
  text-transform: uppercase;
  font-size: 16px;
}

.content-box h4 i {
  width: 40px;
  height: auto;
  display: inline-block;
  font-size: 32px;
  float: left;
  margin: 0 10px 0 0;
  color: #279fbb;
  position: relative;
}

.content-box h4 i.icon-flat {
  background-image: url("{{ 'assets/images/icons/flat-icons.png'|theme }}");
  background-repeat: no-repeat;
  height: 38px;
}

.content-box .read-more {
  text-align: right;
}

.content-box .read-more {
  color: #4b4b4b;
  overflow: hidden;
  display: block;
}
.content-box .read-more:hover i {
  text-decoration: none;
}

.content-box .read-more span {
  padding: 1px 10px 0 0;
  display: inline-block;
}

.content-box .read-more i {
  font-size: 10px;
  float: right;
  margin: 7px 0px 0 0;
}

.content-box .content-box-text .read-more {
  display: block;
}

/* Content Box Style 2 */
.content-box.content-style2 {
  text-align: center;
}
.content-box.content-style2 .content-box-text {
  padding-left: 0;
}
.content-box.content-style2:hover i {
  top: -5px;
}

.content-box.content-style2 h4 i {
  display: block;
  float: none;
  font-size: 56px;
  margin: 0 0 10px 0;
  color: #279fbb;
  text-align: center;
  width: auto;
  -webkit-transition: top 0.5s;
  -moz-transition: top 0.5s;
  -o-transition: top 0.5s;
  transition: top 0.5s;
}

.content-box.content-style2 h4 i.icon-flat {
  width: 40px;
  margin: 0 auto 10px auto;
}

.content-box.content-style2 .read-more {
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #b8b8b8;
}
.content-box.content-style2 .read-more span {
  padding: 0;
}
.content-box.content-style2 .read-more:hover {
  color: #666666;
}

.content-box.content-style2 .read-more i {
  float: none;
  display: none;
}

.content-box.content-style2 .read-more:hover i {
  text-decoration: none;
}

.content-box.style5 h4 {
  margin: 0;
  line-height: 60px;
}
.content-box.style5 h4 i {
  background-color: #279fbb;
  color: #fff;
  float: left;
  margin: 2px 20px 0 0;
  border-radius: 50%;
  text-align: center;
  display: block;
  font-size: 22px;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.content-box.style5 .content-box-text {
  margin-left: 80px;
  margin-top: 5px;
  padding-left: 0;
}
.content-box.style5 .content-box-text .read-more {
  text-align: left;
}
.content-box.style5 .content-box-text .read-more i {
  float: none;
}

.content-box.style5.small .content-box-text {
  margin-left: 60px;
}

.right-text .content-box.small .content-box-text {
  margin-left: 0;
  margin-right: 60px;
}

.right-text .content-box .content-box-text {
  margin-left: 0;
  margin-right: 80px;
}

.content-box.style5.small h4 > i {
  font-size: 16px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-position: 0 -20px;
}

.content-box.style5.small h4 {
  line-height: 40px;
}

.content-box.style5.orange h4 > i {
  background-color: #e67e22 !important;
}

.content-box.style5.purple h4 > i {
  background-color: #8e44ad;
}

.content-box.style5.green h4 > i {
  background-color: #2ecc71;
}

.content-box.style5.red h4 > i {
  background-color: #e74c3c;
}

.content-box.style5.yellow h4 > i {
  background-color: #f3d73b;
  color: #835218;
}

.content-box.style5.blue h4 > i {
  background-color: #2980b9;
}

.content-box.style5.clouds h4 > i {
  background-color: #ecf0f1;
  color: #2c3e50;
}

ul.icon-content-list-container {
  padding: 0;
}
ul.icon-content-list-container li.icon-content-single {
  float: left;
  margin: 0 0 20px 0;
}
ul.icon-content-list-container li.icon-content-single:last-child {
  margin-bottom: 0;
}
ul.icon-content-list-container li.icon-content-single .icon-box {
  float: left;
  margin-right: 20px;
  text-align: center;
  width: 60px;
  height: 60px;
  background-color: #f2f2f2;
}
ul.icon-content-list-container li.icon-content-single .icon-box i {
  font-size: 42px;
  color: #279fbb;
  line-height: 60px;
}
ul.icon-content-list-container li.icon-content-single h4 {
  margin-bottom: 5px;
}
ul.icon-content-list-container li.icon-content-single p {
  color: #494949;
}

ul.icon-content-list-container li.icon-content-single .content-box.style5 h4 i {
  margin-top: 14px;
}

ul.icon-content-list-container li.icon-content-single .content-box.style5.small h4 i {
  margin-top: 4px;
}

ul.icon-content-list-container li.icon-content-single .content-box-text {
  margin-top: -14px;
}

ul.icon-content-list-container li.icon-content-single .small .content-box-text {
  margin-top: -7px;
}

.right-text ul.icon-content-list-container li.icon-content-single h4 i {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

.section-content.section-services {
  background-color: #279fbb;
  border: 0;
}
.section-content.section-services .content-box {
  text-align: center;
  position: relative;
  overflow: visible;
}
.section-content.section-services .content-box:hover i {
  -webkit-animation: swing 0.7s;
  -moz-animation: swing 0.7s;
  -ms-animation: swing 0.7s;
  -o-animation: swing 0.7s;
  animation: swing 0.7s;
}
.section-content.section-services .content-box h4 {
  color: #fff;
  font-size: 18px;
}
.section-content.section-services .content-box h4 i {
  font-size: 72px;
  position: absolute;
  color: #fff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  left: 0;
  top: -13px;
}
.section-content.section-services .content-box .content-box-text {
  color: #fff;
  padding-left: 0;
}

.predefined-skins {
  float: left;
  margin: 8px 0 0 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.pattern, .image-chooser {
  float: left;
  margin: 10px 0 0 20px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.image-chooser {
  width: 25px;
  height: 25px;
}

.pattern-black-twill {
  background: 0 0 url("{{ 'assets/images/body_backgrounds/patterns/black-twill.png'|theme }}");
  width: 25px;
  height: 25px;
}


.bgpattern-black-twill {
  background-image: url("{{ 'assets/images/body_backgrounds/patterns/black-twill.png'|theme }}");
}


.pattern-dark-fish-skin {
  background: 0 0 url("{{ 'assets/images/body_backgrounds/patterns/dark-fish-skin.png'|theme }}");
  width: 25px;
  height: 25px;
}


.bgpattern-dark-fish-skin {
  background-image: url("{{ 'assets/images/body_backgrounds/patterns/escheresque-ste.png'|theme  }}");
}


.pattern-escheresque-ste {
  background: 0 0 url("{{ 'assets/images/body_backgrounds/patterns/grey.png'|theme }}");
  width: 25px;
  height: 25px;
}


.bgpattern-escheresque-ste {
  background-image: url("{{ 'assets/images/body_backgrounds/patterns/knitting250px.png'|theme }}");
}


.pattern-grey {
  background: 0 0 url("{{ 'assets/images/body_backgrounds/patterns/grey.png'|theme }}");
  width: 25px;
  height: 25px;
}


.bgpattern-grey {
  background-image: url("{{ 'assets/images/body_backgrounds/patterns/grey.png'|theme }}");
}



.pattern-knitting250px {
  background: 0 0 url("{{ 'assets/images/body_backgrounds/patterns/knitting250px.png'|theme }}");
  width: 25px;
  height: 25px;
}


.bgpattern-knitting250px {
  background-image: url("{{ 'assets/images/body_backgrounds/patterns/knitting250px.png'|theme }}");
}


.pattern-p4 {
  background: 0 0 url("{{ 'assets/images/body_backgrounds/patterns/p4.png'|theme }}");
  width: 25px;
  height: 25px;
}


.bgpattern-p4 {
  background-image: url("{{ 'assets/images/body_backgrounds/patterns/p4.png'|theme }}");
}


.pattern-p5 {
  background: 0 0 url("{{ 'assets/images/body_backgrounds/patterns/p5.png'|theme }}");
  width: 25px;
  height: 25px;
}


.bgpattern-p5 {
  background-image: url("{{ 'assets/images/body_backgrounds/patterns/p5.png'|theme }}");
}


.pattern-p6 {
  background: 0 0 url("{{ 'assets/images/body_backgrounds/patterns/p6.png'|theme }}");
  width: 25px;
  height: 25px;
}


.bgpattern-p6 {
  background-image: url("{{ 'assets/images/body_backgrounds/patterns/p6.png'|theme }}");
}


.pattern-ps-neutral {
  background: 0 0 url("{{ 'assets/images/body_backgrounds/patterns/ps-neutral.png'|theme }}");
  width: 25px;
  height: 25px;
}


.bgpattern-ps-neutral {
  background-image: url("{{ 'assets/images/body_backgrounds/patterns/ps-neutral.png'|theme }}");
}


.pattern-pw-maze-white {
  background: 0 0 url("{{ 'assets/images/body_backgrounds/patterns/pw-maze-white.png'|theme }}");
  width: 25px;
  height: 25px;
}


.bgpattern-pw-maze-white {
  background-image: url("{{ 'assets/images/body_backgrounds/patterns/pw-maze-white.png'|theme }}");
}


.pattern-pw-pattern {
  background: 0 0 url("{{ 'assets/images/body_backgrounds/patterns/pw-pattern.png'|theme }}");
  width: 25px;
  height: 25px;
}


.bgpattern-pw-pattern {
  background-image: url("{{ 'assets/images/body_backgrounds/patterns/pw-pattern.png'|theme }}");
}


.pattern-retina-wood {
  background: 0 0 url("{{ 'assets/images/body_backgrounds/patterns/retina-wood.png'|theme }}");
  width: 25px;
  height: 25px;
}


.bgpattern-retina-wood {
  background-image: url("{{ 'assets/images/body_backgrounds/patterns/retina-wood.png'|theme }}");
}


.pattern-shattered {
  background: 0 0 url("{{ 'assets/images/body_backgrounds/patterns/shattered.png'|theme }}");
  width: 25px;
  height: 25px;
}


.bgpattern-shattered {
  background-image: url("{{ 'assets/images/body_backgrounds/patterns/shattered.png'|theme }}");
}


.pattern-subtle-dots {
  background: 0 0 url("{{ 'assets/images/body_backgrounds/patterns/subtle-dots.png'|theme }}");
  width: 25px;
  height: 25px;
}


.bgpattern-subtle-dots {
  background-image: url("{{ 'assets/images/body_backgrounds/patterns/subtle-dots.png'|theme }}");
}


.pattern-subtle-surface {
  background: 0 0 url("{{ 'assets/images/body_backgrounds/patterns/subtle-surface.png'|theme }}");
  width: 25px;
  height: 25px;
}


.bgpattern-subtle-surface {
  background-image: url("{{ 'assets/images/body_backgrounds/patterns/subtle-surface.png'|theme }}");
}

.pattern-whitediamond {
  background: 0 0 url("{{ 'assets/images/body_backgrounds/patterns/whitediamond.png'|theme }}");
  width: 25px;
  height: 25px;
}


.bgpattern-whitediamond {
  background-image: url("{{ 'assets/images/body_backgrounds/patterns/whitediamond.png'|theme }}");
}


.tuscany-thumb {
  background-image: url("{{ 'assets/images/body_backgrounds/tuscany-thumb.jpg'|theme }}");
}

.bg-tuscany {
  background-image: url("{{ 'assets/images/body_backgrounds/tuscany.jpg'|theme }}");
  background-attachment: fixed;
  background-position: center center;
  background-size: 100%;
}

.tracks-thumb {
  background-image: url("{{ 'assets/images/body_backgrounds/tracks-thumb.jpg'|theme }}");
}

.bg-tracks {
  background-image: url("{{ 'assets/images/body_backgrounds/tracks.jpg'|theme }}");
  background-attachment: fixed;
  background-position: center center;
  background-size: 100%;
}

.blurred-lines-thumb {
  background-image: url(../images/body_backgrounds/blurred-lines-thumb.jpg);
}


.bg-blurred-lines {
  background-image: url("{{ 'assets/images/body_backgrounds/blurred-lines.jpg'|theme }}");
  background-attachment: fixed;
  background-position: center center;
  background-size: 100%;
}

.mountain-thumb {
  background-image: url("{{ 'assets/images/body_backgrounds/mountain-thumb.jpg'|theme }}");
}

.bg-mountain {
  background-image: url("{{ 'assets/images/body_backgrounds/mountain-thumb.jpg'|theme }}");
  background-attachment: fixed;
  background-position: center center;
  background-size: 100%;
}

</style>